*{
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
}

html{

  --background: #978a87;
  --div-color: #ac7d2c;
  --border-cor: #66625c;
}


.container{

  width: 100vw;
  height: 100vh;
  padding-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;


}

.container{

  background-color: aliceblue;

}

/*CARD*/

.cardgrid {
  display: inline-block;

  background: url("./assets/bg-pattern-card.svg") top no-repeat;
  

  gap: 1.5rem;
  

  border: solid 2px #272626;
  border-radius: 30px;
  box-shadow: 2px 2px 2px 2px;

  width: 18rem;
  height: 18rem;
  padding: 2rem;

}

.cardgrid img{

  display: flex;

  position: relative;
  top: 2.7rem;
  left: 5.5rem;

  width: 7rem;
  height: 7rem;
  
  

  border: solid 1px #fcf9f9;
  border-radius: 30px;
  box-shadow: 1px;
}

.text{
  text-align: center;
  padding: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

p{
  text-align: center;
  color: #978a87;
  margin-top: -3rem;

  padding: 1rem;
}

.cardgrid .social img{
  grid-auto-flow: column;

  display: inline-block;
  margin-bottom: 2rem;
  top: -0.2rem;
  left: 2rem;

  margin-left: 0.2rem;


  width: 4rem;
  height: 4rem;
}
  
  
